@model BlogMvcApp.Models.Blog

@{
    ViewBag.Title = "Details";
}

<h1>@Model.Title</h1>
<hr />
<p>
    @Model.AddedDate
</p>
<hr />
<img src="~/Content/1.jpg" alt="image" />
<hr />
<blockquote>
    <p>@Model.Comment</p>
</blockquote>
<p>@Model.Content</p>