@model IEnumerable<BlogMvcApp.Models.BlogModel>

@{
    ViewBag.Title = "Index";
}

<h2 class="mb-5">All Blogs</h2>


@Html.Partial("BlogList", Model)


@section RightColumn
{
    @Html.Partial("Search")

    @{ Html.RenderAction("CategoryList", "Category");}
}



